{
  "presets": ["es2015", "flow"],
  "plugins": [
    ["babel-plugin-root-import", [{
      "rootPathPrefix": "~",
      "rootPathSuffix": "lib"
    }, {
      "rootPathPrefix": "@",
      "rootPathSuffix": "test"
    }]],
    "istanbul"
  ]
}